@page
@*
  filepath: Views/Account/AccessDenied.cshtml
*@
@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}
<div class="container mt-5">
    <div class="alert alert-danger text-center">
        <h4>Bạn không có quyền truy cập chức năng này!</h4>
        <p>Vui lòng liên hệ quản trị viên nếu bạn cần thêm quyền.</p>
        <a href="javascript:history.back()" class="btn btn-secondary mt-3">Quay lại</a>
    </div>
</div>